/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo de la pag */
* {
    background-color: #FAFAFF;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 957px) {
    * {
        margin-left: 70px;
        margin-right: 70px;
    }

}